section {
  padding-top: 35px;
  padding-bottom: 50px;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
}

.navbar-custom .navbar-brand {
  font-size: 1.7em;
}

.nav > li > a {
  padding-left: 9px;
  padding-right: 9px;
}

.row {
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.main-pic {
  width: 100%;
  position: relative;
  height: 309px;
  margin-top: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .main-pic {
    margin-top: 100px;
  }
}

.intro-wrapper {
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.main-pic img {
  height: 100%;
  float: left;
}

.hi {
  left: 0;
  position: absolute;
  top: 245px;
  width: 100%;
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: cursive;
}

@media (min-width: 768px) {
  .hi {
    top: 295px;
  }
}

.intro {
  margin-top: 100px;
}

.intro a img {
  height: 45px;
  display: block;
  margin: 0 auto;
}

.intro h2 {
  text-align: center;
}

.intro h5 {
  text-align: center;
}

.profile {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

.section-heading {
  text-align: center;
  font-family: sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

.who-am-i {
  background-color: rgba(0, 0, 0, 0.1);
}

.who-am-i-items {
  margin-top: 25px;
}

.who-am-i-items div {
  text-align: center;
  font-family: serif;
  font-size: 20px;
}

/*item css*/
.item {
  margin-top: 30px;
}

.item-logo {
  max-height: 160px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item-name {
  margin-top: 0;
  color: rgb(102, 119, 136);
}

.item-position {
  color: cadetblue;
  font-family: serif;
  font-weight: bold;
}

.item-location {
  color: peru;
}

.item ul {
  margin-left: -15px;
  margin-top: 10px;
}

/*project item*/
.project-item {
  margin-top: 10px;
  /* height: 455px; */
}

.code {
  margin-top: 7px;
  margin-right: 10px;
  font-size: 12px;
  float: left;
  padding-top: 0.3em;
}

.project-description {
  margin-left: -15px;
  margin-top: 10px;
  display: inline-block;
}

.project-link {
  float: right;
}

#contact img {
  width: 80%;
  max-width: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
