#gallery-modal .modal-dialog {
  max-width: 800px;
}

#gallery-modal .modal-content {
  height: 645px;
}

#gallery-modal .modal-body {
  position: relative;
}

#gallery-modal .glyphicon {
  position: absolute;
  top: 215px;
  font-size: 24px;
}

#gallery-modal .glyphicon-chevron-left {
  left: 10px;
}

#gallery-modal .glyphicon-chevron-right {
  right: 10px;
}

#gallery-modal .image-wrapper {
  height: 500px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#gallery-modal .image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#gallery-modal .modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: none;
  padding: 10px;
}

#gallery-modal .modal-footer .description {
  text-align: center;
}

.indicators {
  text-align: center;
  padding-left: 0;
}

.indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.indicators .active {
  background-color: black;
}